/* TEXT COLORS */
/* MAIN TEXT */
/* SEC TEXT */
/* TITLES */
/* BREAKPOINTS */
/* MAIN TEXT */
.text-main-m {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
}
.text-main-l {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #242424;
}
.text-main-xl {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 37px;
  color: #242424;
}
/* SEC TEXT */
.text-sec-s {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
}
.text-sec-m {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #242424;
}
/* TITLES */
.homepage-logo {
  width: 100%;
}
.logo-background {
  background-color: #eedc4f;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
}
/* TILES */
.tile-area {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.tile-area .tile {
  margin: 20px 20px 0 0px;
  height: 100px;
  float: left;
  list-style-type: none;
  background-color: #89e9ff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  width: 250px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}
.tile-area .tile.tile-fotogalerij {
  width: 160px;
  background-color: #b4056b;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
}
.tile-area .tile.tile-arghnice {
  width: 230px;
  background-color: #89e9ff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
}
.tile-area .tile.tile-treinontmoeting {
  width: 280px;
  background-color: #ffab89;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ffab89, #520001 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ffab89, #520001 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ffab89, #520001 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ffab89, #520001 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ffab89, #520001 100%);
}
.tile-area .tile.tile-glinsterendeogen {
  width: 290px;
  background-color: #ffd989;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ffd989, #005052 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ffd989, #005052 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ffd989, #005052 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ffd989, #005052 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ffd989, #005052 100%);
}
.tile-area .tile.tile-htmlexperimenten {
  width: 314px;
  background-color: #9f89ff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #9f89ff, #520000 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #9f89ff, #520000 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #9f89ff, #520000 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #9f89ff, #520000 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #9f89ff, #520000 100%);
}
.tile-area .tile:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.tile-area .tile a {
  text-decoration: none;
  display: block;
  padding: 10px 20px 10px;
  text-align: center;
}
.tile-area .tile a h3 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #242424;
  color: #ffffff;
  text-decoration: underline;
  margin: 0 0 4px;
}
.tile-area .tile a .label {
  background: #fff;
  color: #242424;
  display: inline-block;
  margin-right: 6px;
  padding: 0px 9px 0px;
  border-radius: 4px;
}
.tile-area .tile a span {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}
@media all and (max-width: 740px) {
  .tile-area .tile {
    width: 100% !important;
    height: auto;
  }
  .tile-area .tile a {
    text-align: left;
  }
}
.gallery-page .image-container {
  padding: 3% 0;
}
.gallery-page .more-icon {
  margin-bottom: 6%;
}
@media all and (max-width: 1023px) {
  .gallery-page .more-icon {
    display: none;
  }
}
.image-container {
  width: 100%;
  height: 100vh;
  /*
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
*/

  position: relative;
  box-sizing: content-box;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  /* nice when resizing */

  background-color: #6d6d6d;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
}
.image-container.with-text .image-centerer {
  height: 100%;
  display: table;
  overflow: hidden;
}
.image-container.with-text .image-centerer .text {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 37px;
  color: #242424;
  margin: 0px auto 0;
  width: 80%;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -1px 0px rgba(255, 255, 255, 0.3);
  display: table-cell;
  vertical-align: middle;
}
@media all and (max-width: 740px) {
  .image-container.with-text {
    width: 100%;
  }
  .image-container.with-text .image-centerer {
    width: 100%;
  }
  .image-container.with-text .image-centerer .text {
    width: 90%;
  }
}
@media all and (max-width: 1023px) {
  .image-container.with-text .image-centerer .text {
    margin: -5px auto 0;
  }
}
.image-container .image-centerer {
  width: 69%;
  height: 90%;
  margin: 0px auto;
}
.image-container .image-centerer img {
  max-width: 100%;
  max-height: 80%;
  display: block;
  margin: 0px auto;
  border: 10px solid #d7d7d7;
  box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.4), 0px 1px 0px 0px rgba(255, 255, 255, 0.4), -1px 0px 0px 0px rgba(214, 210, 136, 0.4), 0px -1px 0px 0px rgba(214, 210, 136, 0.4), 0px 31px 26px -20px rgba(0, 0, 0, 0.5);
}
.image-container .image-centerer .photo-description {
  text-align: center;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
@media all and (max-width: 1023px) {
  .image-container .image-centerer {
    width: 90%;
    padding: 0 3%;
  }
}
@media all and (min-width: 1200px) {
  .image-container .image-centerer {
    width: 72%;
  }
}
.image-container .more-icon {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  left: 0px;
  color: #fff;
  opacity: 0.3;
  height: 50px;
}
.image-container .more-icon i {
  font-size: 15px;
  margin: 0 10px;
}
@media all and (max-width: 1023px) {
  .image-container .more-icon {
    display: none;
  }
}
.wallpaper-waldorpstraat {
  background-color: #6d6d6d;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
}
.wallpaper-scotland {
  background-color: #6e762c;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
}
.wallpaper-usa {
  background-color: #466a8e;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
}
.wallpaper-gouda {
  background-color: #7f6f6a;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
}
.wallpaper-portugal {
  background-color: #c8af93;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
}
.wallpaper-berlin {
  background-color: #6a5040;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #6a5040, #020100 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #6a5040, #020100 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #6a5040, #020100 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #6a5040, #020100 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #6a5040, #020100 100%);
}
.wallpaper-markthal {
  background-color: #ffffff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ffffff, #6d6362 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ffffff, #6d6362 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ffffff, #6d6362 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ffffff, #6d6362 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ffffff, #6d6362 100%);
}
.wallpaper-kookfabriek {
  background-color: #cfc3b7;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #cfc3b7, #996965 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #cfc3b7, #996965 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #cfc3b7, #996965 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #cfc3b7, #996965 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #cfc3b7, #996965 100%);
}
.wallpaper-dyos {
  background-color: #d6d6d6;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #d6d6d6, #6a6a6a 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #d6d6d6, #6a6a6a 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #d6d6d6, #6a6a6a 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #d6d6d6, #6a6a6a 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #d6d6d6, #6a6a6a 100%);
}
.wallpaper-blijdorp {
  background-color: #9bc3e6;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #9bc3e6, #512e09 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #9bc3e6, #512e09 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #9bc3e6, #512e09 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #9bc3e6, #512e09 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #9bc3e6, #512e09 100%);
}
.wallpaper-koffie {
  background-color: #988096;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #988096, #060002 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #988096, #060002 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #988096, #060002 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #988096, #060002 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #988096, #060002 100%);
}
.wallpaper-babym {
  background-color: #ffffff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ffffff, #4c8fb6 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ffffff, #4c8fb6 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ffffff, #4c8fb6 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ffffff, #4c8fb6 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ffffff, #4c8fb6 100%);
}
.wallpaper-stoerejongen {
  background-color: #ebf5ff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ebf5ff, #676767 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ebf5ff, #676767 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ebf5ff, #676767 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ebf5ff, #676767 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ebf5ff, #676767 100%);
}
.wallpaper-stedelijk {
  background-color: #cdac9c;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #cdac9c, #836940 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #cdac9c, #836940 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #cdac9c, #836940 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #cdac9c, #836940 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #cdac9c, #836940 100%);
}
.wallpaper-vuurwerk {
  background-color: #63002f;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #63002f, #000000 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #63002f, #000000 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #63002f, #000000 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #63002f, #000000 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #63002f, #000000 100%);
}
.wallpaper-onweer {
  background-color: #625370;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #625370, #010000 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #625370, #010000 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #625370, #010000 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #625370, #010000 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #625370, #010000 100%);
}
.wallpaper-text {
  background-color: #fffedc;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #fffedc, #9f8fa5 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #fffedc, #9f8fa5 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #fffedc, #9f8fa5 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #fffedc, #9f8fa5 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #fffedc, #9f8fa5 100%);
}
.gallery-map {
  width: 70px;
  position: absolute;
  right: 10px;
  top: 300px;
}
.gallery-map a {
  background-color: rgba(255, 255, 255, 0.17);
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  display: block;
  margin: 1px;
  float: left;
  overflow: hidden;
  text-indent: 44px;
}
.gallery-map a.active {
  background-color: rgba(255, 255, 255, 0.3);
}
.back-tag-homepage {
  color: red;
  position: fixed;
  background-color: #fff;
  background-color: #ffffff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  top: 300px;
  width: 160px;
  box-shadow: -10px 6px 20px 0px rgba(0, 0, 0, 0.3);
  opacity: 0.2;
  transition: opacity .3s;
}
.back-tag-homepage:hover {
  opacity: 1;
  transition: opacity .3s;
}
.back-tag-homepage a {
  text-decoration: none;
  display: block;
  padding: 10px 10px 10px;
}
.back-tag-homepage a h1 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #242424;
  color: #000000;
  text-decoration: underline;
  margin: 0 0 4px;
}
.back-tag-homepage a span {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
}
@media all and (max-width: 1023px) {
  .back-tag-homepage {
    top: auto;
    bottom: 0px;
    width: 100%;
    opacity: 0.95;
  }
  .back-tag-homepage h1 {
    display: inline;
  }
}
@media all and (max-width: 1023px) {
  .gallery-page .image-container {
    padding: 14% 0 30%;
  }
}
@media all and (max-width: 800px) {
  .gallery-map {
    display: none;
  }
}
/* MAIN PHOTO */
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
.keep-height {
  overflow: hidden;
}
/* FONTS */
body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
  text-rendering: optimizeLegibility;
}
a {
  color: #000000;
}
strong {
  font-weight: 700;
}
.main-title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #242424;
  margin: 20px 0px 30px;
}
h1,
h2 {
  text-shadow: 0px 1px 1px #909090, 0px 3px 4px rgba(144, 144, 144, 0.5);
}
/* HEADER */
.header-small {
  background-color: #eedc4f;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  height: 60px;
  text-align: center;
}
.header-small .logo {
  max-height: 100%;
}
/* CONTENT */
.content {
  margin: 0 auto;
  padding: 50px 20%;
  overflow: hidden;
  box-sizing: content-box;
  max-width: 800px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  /* nice when resizing */

}
.content.logo-background {
  max-width: none;
}
.content p {
  margin-bottom: 30px;
}
@media all and (max-width: 1023px) {
  .content {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    /* nice when resizing */
  
    padding: 50px 10%;
  }
}
@media all and (max-width: 480px) {
  .content {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    /* nice when resizing */
  
    padding: 50px 4%;
  }
}
/* EXPERIMENTS */
/* turn experiments off that are not in use when experimenting */
.header,
.main-title,
.back-tag-homepage,
.footer,
.keyframe-animations-experiment,
.shadow-note-experiment {
  xdisplay: none;
}
.longshadow-experiment .block-container {
  height: 130px;
}
.longshadow-experiment .block-container .block {
  width: 50px;
  height: 50px;
  float: left;
  margin: 30px 30px 0 0;
  padding: 13px 0px;
  text-align: center;
  background-color: #ededed;
}
.longshadow-experiment .block-container .block.block1 {
  box-shadow: 1px 1px 1px 0px rgba(120, 120, 120, 0.1), 2px 2px 1px 0px rgba(120, 120, 120, 0.1), 3px 3px 1px 0px rgba(120, 120, 120, 0.1), 4px 4px 1px 0px rgba(120, 120, 120, 0.1), 5px 5px 1px 0px rgba(120, 120, 120, 0.1), 6px 6px 1px 0px rgba(120, 120, 120, 0.1), 7px 7px 1px 0px rgba(120, 120, 120, 0.1);
}
.longshadow-experiment .block-container .block.block2 {
  box-shadow: 1px 1px 1px 0px rgba(120, 120, 120, 0.1), 2px 2px 2px 0px rgba(120, 120, 120, 0.1), 3px 3px 3px 0px rgba(120, 120, 120, 0.1), 4px 4px 4px 0px rgba(120, 120, 120, 0.1), 5px 5px 5px 0px rgba(120, 120, 120, 0.1), 6px 6px 6px 0px rgba(120, 120, 120, 0.1), 7px 7px 7px 0px rgba(120, 120, 120, 0.1);
}
.longshadow-experiment .block-container .block.block3 {
  box-shadow: 2px 2px 2px 0px rgba(120, 120, 120, 0.1), 4px 4px 4px 0px rgba(120, 120, 120, 0.1), 6px 6px 6px 0px rgba(120, 120, 120, 0.1), 8px 8px 8px 0px rgba(120, 120, 120, 0.1), 10px 10px 10px 0px rgba(120, 120, 120, 0.1), 12px 12px 12px 0px rgba(120, 120, 120, 0.1), 14px 14px 14px 0px rgba(120, 120, 120, 0.1);
}
.longshadow-experiment .block-container .block.block4 {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1), 2px 2px 2px 0px rgba(30, 30, 30, 0.1), 3px 3px 3px 0px rgba(60, 60, 60, 0.1), 4px 4px 4px 0px rgba(90, 90, 90, 0.1), 5px 5px 5px 0px rgba(120, 120, 120, 0.1), 6px 6px 6px 0px rgba(150, 150, 150, 0.1), 7px 7px 7px 0px rgba(180, 180, 180, 0.1);
}
.longshadow-experiment .block-container .block.block5 {
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1), 2px 4px 4px 0px rgba(30, 30, 30, 0.1), 3px 6px 6px 0px rgba(60, 60, 60, 0.1), 4px 8px 8px 0px rgba(90, 90, 90, 0.1), 5px 10px 10px 0px rgba(120, 120, 120, 0.1), 6px 12px 12px 0px rgba(150, 150, 150, 0.1), 7px 14px 14px 0px rgba(180, 180, 180, 0.1);
}
.longshadow-experiment .block-container .block.block6 {
  box-shadow: 1px 1px 1px 0px #bebebe, 2px 2px 1px 0px #c3c3c3, 3px 3px 1px 0px #c8c8c8, 4px 4px 1px 0px #cdcdcd, 5px 5px 1px 0px #d2d2d2, 6px 6px 1px 0px #d7d7d7, 7px 7px 1px 0px #dcdcdc, 8px 8px 1px 0px #e1e1e1, 9px 9px 1px 0px #e6e6e6, 10px 10px 1px 0px #ebebeb, 11px 11px 1px 0px #f0f0f0, 12px 12px 1px 0px #f5f5f5, 13px 13px 1px 0px #fafafa, 14px 14px 1px 0px #ffffff;
}
.longshadow-experiment .block-container .block.block7 {
  box-shadow: 1px 1px 1px 0px #bebebe, 2px 2px 2px 0px #c3c3c3, 3px 3px 3px 0px #c8c8c8, 4px 4px 4px 0px #cdcdcd, 5px 5px 5px 0px #d2d2d2, 6px 6px 6px 0px #d7d7d7, 7px 7px 7px 0px #dcdcdc, 8px 8px 8px 0px #e1e1e1, 9px 9px 9px 0px #e6e6e6, 10px 10px 10px 0px #ebebeb, 11px 11px 11px 0px #f0f0f0, 12px 12px 12px 0px #f5f5f5, 13px 13px 13px 0px #fafafa, 14px 14px 14px 0px #ffffff;
}
.experiment-container {
  overflow: hidden;
}
.experiment-container .experiment-block {
  min-height: 280px;
  margin-bottom: 60px;
  padding: 10px 10px 20px 10px;
  border-bottom: 10px solid #bdbdbd;
}
.keyframe-animations-experiment .animate-block {
  width: 100px;
  height: 100px;
  margin: 0 10px 10px 0;
  float: left;
}
.keyframe-animations-experiment .animation-1 {
  background-color: tan;
  -webkit-animation: animation-one 5s;
}
@-webkit-keyframes animation-one {
  from {
    background: #005ebf;
  }
  to {
    background: #02bf00;
  }
}
.keyframe-animations-experiment .animation-2 {
  background-color: tan;
  -webkit-animation: animation-two 5s;
}
@-webkit-keyframes animation-two {
  0% {
    background: #3556c9;
  }
  25% {
    background: #7935c9;
  }
  50% {
    background: #c935b4;
  }
  100% {
    background: #c93535;
  }
}
.keyframe-animations-experiment .animation-3 {
  background-color: tan;
  -webkit-animation-name: animation-three;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}
@-webkit-keyframes animation-three {
  0% {
    background: #cdaeff;
  }
  25% {
    background: #9e86c6;
  }
  50% {
    background: #594b6e;
  }
  100% {
    background: #19161f;
  }
}
.keyframe-animations-experiment .jumparea {
  background-color: #a0f1ff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #a0f1ff, #38bdff 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #a0f1ff, #38bdff 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #a0f1ff, #38bdff 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #a0f1ff, #38bdff 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #a0f1ff, #38bdff 100%);
  height: 200px;
  position: relative;
  overflow: hidden;
  color: #fff;
}
.keyframe-animations-experiment .jumparea .jumper {
  background-color: tan;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  font-size: 26px;
  padding: 6px 0px 0px 1px;
  box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, 0.5);
}
.keyframe-animations-experiment .jumparea .jumper.jumper-a {
  left: 20%;
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-play-state: running;
}
.keyframe-animations-experiment .jumparea .jumper.jumper-b {
  left: 40%;
  -webkit-animation: goup 0.7s ease-out, godown 0.7s ease-in infinite;
}
.keyframe-animations-experiment .jumparea .jumper.jumper-c {
  left: 60%;
  -webkit-animation: goup 0.7s cubic-bezier(0, 0.99, 0.77, 0.99), godown 0.7s cubic-bezier(0.18, 0.01, 0.27, 0.01) infinite;
}
.keyframe-animations-experiment .jumparea .jumper.jumper-d {
  left: 80%;
  -webkit-animation: goup 0.7s cubic-bezier(1, 1, 0, 1), godown 0.7s cubic-bezier(0.5, 1, 0.5, 1) infinite;
}
@-webkit-keyframes bounce {
  0% {
    bottom: 0px;
  }
  /* A */
  6% {
    bottom: 120px;
  }
  14% {
    bottom: 150px;
  }
  /* stappen van 6 */
  21% {
    bottom: 165px;
  }
  25% {
    bottom: 168px;
  }
  /* B, top */
  29% {
    bottom: 165px;
  }
  36% {
    bottom: 150px;
  }
  /* stappen van 6 */
  44% {
    bottom: 120px;
  }
  50% {
    bottom: 0px;
  }
  /* C */
  54% {
    bottom: 70px;
  }
  58% {
    bottom: 90px;
  }
  /* stappen van 4 */
  62% {
    bottom: 95px;
  }
  66% {
    bottom: 100px;
  }
  /* D, top */
  70% {
    bottom: 95px;
  }
  74% {
    bottom: 90px;
  }
  /* stappen van 4 */
  78% {
    bottom: 70px;
  }
  83% {
    bottom: 0px;
  }
  /* E */
  85% {
    bottom: 8px;
  }
  87% {
    bottom: 19px;
  }
  /* stappen van 2 */
  89% {
    bottom: 23px;
  }
  91% {
    bottom: 25px;
  }
  /* F, top */
  93% {
    bottom: 23px;
  }
  95% {
    bottom: 19px;
  }
  /* stappen van 2 */
  87% {
    bottom: 8px;
  }
  100% {
    bottom: 0px;
  }
  /* G */
}
@-webkit-keyframes goup {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 160px;
  }
}
@-webkit-keyframes godown {
  50% {
    bottom: 160px;
  }
  100% {
    bottom: 0px;
  }
}
.shadow-note-experiment .room {
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #7f7e7e, #000000 100%);
  background-image: -webkit-radial-gradient(80% -4%, ellipse cover, rgba(255, 255, 255, 0.7), rgba(130, 130, 130, 0.44) 40%), -webkit-radial-gradient(20% -4%, ellipse cover, rgba(255, 255, 255, 0.7), #828282 50%);
  height: 410px;
  display: block;
  position: relative;
  width: 760px;
  padding: 0px;
}
.shadow-note-experiment .room .note {
  width: 170px;
  height: 200px;
  background-image: -webkit-radial-gradient(30% -54%, circle cover, #ffffff, rgba(255, 255, 255, 0.22) 100%);
  position: absolute;
  top: 30px;
  left: 40%;
  z-index: 1;
  box-shadow: 0px 7px 12px -6px #000000, 0px 2px 3px -2px #000000, -8px 9px 10px -2px rgba(0, 0, 0, 0.1), 11px 10px 12px -2px rgba(0, 0, 0, 0.1), 0px -5px 10px -4px rgba(255, 255, 255, 0.3);
}
.form-experiment form {
  background-color: #f8f8f8;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #f8f8f8, #dddddd 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #f8f8f8, #dddddd 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #f8f8f8, #dddddd 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #f8f8f8, #dddddd 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #f8f8f8, #dddddd 100%);
  padding: 2%;
  width: 100%;
  overflow: hidden;
}
.form-experiment form label {
  width: 100%;
  display: inline-block;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 0s;
}
.form-experiment form input[type=text] {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
  width: 100%;
  border: 2px solid #cacaca;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 5px 8px 2px;
  outline: none;
  transition: all .6s;
}
.form-experiment form input[type=text]:focus {
  border: 2px solid #484151;
}
.form-experiment form .address-street {
  float: left;
  width: 78%;
  margin-right: 2%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.form-experiment form .address-number {
  width: 20%;
  float: left;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.form-experiment form .address-addition {
  visibility: hidden;
  width: 0%;
  overflow: hidden;
  float: left;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.form-experiment form .address-addition label {
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.form-experiment form .address-zip {
  float: left;
  width: 30%;
  margin-right: 2%;
}
.form-experiment form .address-city {
  float: left;
  width: 68%;
}
.form-experiment form.both-visible .address-street {
  width: 56%;
  margin-right: 2%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.form-experiment form.both-visible .address-number {
  width: 20%;
  margin-right: 2%;
  visibility: visible;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.form-experiment form.both-visible .address-number label {
  opacity: 1;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.form-experiment form.both-visible .address-addition {
  width: 20%;
  visibility: visible;
  transition: all .6s;
}
.form-experiment form.both-visible .address-addition label {
  opacity: 1;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.form-experiment form.address-complete input[type=text] {
  margin-bottom: 0px;
  border: 2px solid rgba(237, 237, 237, 0);
  background: none;
}
.form-experiment form.address-complete label {
  opacity: .45 !important;
  transition-property: opacity;
  transition-duration: .6s;
  transition-delay: .6s;
}
.form-experiment .form-inputs-container {
  height: 300px;
  position: relative;
}
.form-experiment .final-check {
  position: absolute;
  bottom: 0px;
  height: 55px;
  width: 100%;
}
.form-experiment .final-check .submit-button {
  float: right;
  width: 130px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
  border-radius: 4px;
  border: 2px solid #cacaca;
  background-color: rgba(0, 0, 0, 0);
  margin-top: -6px;
  height: 37px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.form-experiment .final-check .submit-button:focus,
.form-experiment .final-check .submit-button:hover {
  background-color: #ffffff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ffffff, #dddddd 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ffffff, #dddddd 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ffffff, #dddddd 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ffffff, #dddddd 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ffffff, #dddddd 100%);
  border: 2px solid #484151;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
/* INITIAL */
.initial {
  width: 250px;
  height: 250px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 250px;
  line-height: 275px;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 0px #000000;
  box-shadow: inset 0px 0px 90px 0px #000000;
  float: left;
  margin: 0px 30px 30px 0px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  /* nice when resizing */

}
.initial.initial-treinontmoeting {
  background-image: url('/img/initial-treinontmoeting.jpg');
}
.initial.initial-glinsterendeogen {
  background-image: url('/img/initial-glinsterendeogen.jpg');
}
@media all and (max-width: 1023px) {
  .initial {
    width: 200px;
    height: 200px;
    font-size: 210px;
    line-height: 230px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    /* nice when resizing */
  
  }
}
@media all and (max-width: 740px) {
  .initial {
    width: 120px;
    height: 120px;
    font-size: 120px;
    line-height: 140px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    /* nice when resizing */
  
  }
}
/* IMAGES */
.image-break-out-right {
  width: 450px;
  float: right;
  margin: 0px -30% 30px 50px;
  transition: all .6s;
  /* nice when resizing */

}
@media all and (max-width: 1023px) {
  .image-break-out-right {
    margin: 0px 0px 10px 20px;
    width: 50%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    /* nice when resizing */
  
  }
}
@media all and (max-width: 740px) {
  .image-break-out-right {
    margin: 20px 0;
    width: 100%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    /* nice when resizing */
  
  }
}
@media all and (min-width: 1200px) {
  .image-break-out-right {
    width: 600px;
  }
}
.image-small-closer {
  width: 80px;
}
.image-full-width {
  width: 100%;
}
.link-phonenumber {
  text-decoration: none;
}
@media all and (max-width: 740px) {
  .link-phonenumber {
    text-decoration: underline;
  }
}
/* FOOTER */
.footer {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.footer ul li {
  float: left;
  margin-right: 20px;
}
@media all and (max-width: 1023px) {
  .footer {
    margin-bottom: 50px;
  }
}
