
.image-container {
  width: 100%;
  height:100vh;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  position: relative;

  .radial-gradient(@main-photo-background-from, @main-photo-background-to);

&.with-text {
      .image-centerer {
        height: auto;
        margin-top: -3%;
        .text {
          color: @text-color-on-light;
          text-shadow: 0px 1px 2px rgba(0,0,0,0.7), 0px 4px 2px rgba(0,0,0,0.2);
        }
      }
    }

  .image-centerer {
    width: 75%;
    height: 90%;
    img {
      max-width: 100%;
      max-height: 80%;
      display: block;
      margin: 0px auto;
      border: 10px solid @main-photo-border-color;
      box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.4), 0px 1px 0px 0px rgba(255, 255, 255, 0.4), -1px 0px 0px 0px rgba(214, 210, 136, 0.4), 0px -1px 0px 0px rgba(214, 210, 136, 0.4), 0px 31px 26px -20px rgba(0,0,0,0.5);
    }
    .photo-description {
      text-align: center;
      margin-top: 20px;
      .text-sec-m(@text-color-link-on-dark)
    }

  }



  .text {
    width: 80%;
    margin: 0px auto;
    color: #000;
    .text-main-xl();
  }

  .more-icon {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    left: 0px;
    color: #fff;
    font-size: 30px;
    opacity: 0.3;
    height: 50px;
  }
  @media all and (max-width: @tabletl) {
    .more-icon {
      display: none;
    }
  }
}

.homepage-logo {
  width: 100%;
}

.logo-background {
  .radial-gradient(#EEDC4F, #154A18);
}

@media all and (max-width: @tabletl) {
  .image-container {
    height: auto;
    padding: 40px 0px 80px;
  }
}

.content {
  margin: 0 auto;
  padding: 50px 20%;
  overflow: hidden;
}
@media all and (max-width: @tabletl) {
  .content {
    padding: 50px 10%;
  }
}
@media all and (max-width: @mobilep) {
  .content {
    padding: 50px 4%;
  }
}


.tile {
  margin: 50px 20px 0 0px;
  float: left;
  transition: all .3s;
  &:hover {
    .grayscale(0.4);
    transition: all .3s;
  }
  a {
    text-decoration: none;
    display: block;
    padding: 10px 30px 10px;
    text-align: center;
    h1 {
      .text-main-l();
      color: @text-color-link-on-dark;
      text-decoration: underline;
      margin: 0 0 4px;
    }
    span {
      .text-main-m(@text-color-on-dark);
    }
  }
  &.tile-fotogalerij {
    width: 200px;
    .radial-gradient(#B4056B, #4A1543);
  }
  &.tile-arghnice {
    width: 280px;
    .radial-gradient(#89E9FF, #000552);
  }
}

