/* TEXT COLORS */
/* MAIN TEXT */
/* SEC TEXT */
/* TITLES */
/* BREAKPOINTS */
/* MAIN TEXT */
.text-main-m {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
}
.text-main-l {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #242424;
}
.text-main-xl {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 37px;
  color: #242424;
}
/* SEC TEXT */
.text-sec-s {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
}
.text-sec-m {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #242424;
}
/* TITLES */
.homepage-logo {
  width: 100%;
}
.logo-background {
  background-color: #eedc4f;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
}
/* TILES */
.tile-area {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.tile-area .tile {
  margin: 20px 20px 0 0px;
  height: 100px;
  float: left;
  list-style-type: none;
  background-color: #89e9ff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  width: 250px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}
.tile-area .tile.tile-fotogalerij {
  width: 160px;
  background-color: #b4056b;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
}
.tile-area .tile.tile-arghnice {
  width: 230px;
  background-color: #89e9ff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #89e9ff, #000552 100%);
}
.tile-area .tile.tile-treinontmoeting {
  width: 280px;
  background-color: #ffab89;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ffab89, #520001 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ffab89, #520001 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ffab89, #520001 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ffab89, #520001 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ffab89, #520001 100%);
}
.tile-area .tile.tile-glinsterendeogen {
  width: 290px;
  background-color: #ffd989;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ffd989, #005052 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ffd989, #005052 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ffd989, #005052 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ffd989, #005052 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ffd989, #005052 100%);
}
.tile-area .tile.tile-htmlexperimenten {
  width: 314px;
  background-color: #9f89ff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #9f89ff, #520000 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #9f89ff, #520000 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #9f89ff, #520000 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #9f89ff, #520000 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #9f89ff, #520000 100%);
}
.tile-area .tile:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.tile-area .tile a {
  text-decoration: none;
  display: block;
  padding: 10px 20px 10px;
  text-align: center;
}
.tile-area .tile a h3 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #242424;
  color: #ffffff;
  text-decoration: underline;
  margin: 0 0 4px;
}
.tile-area .tile a .label {
  background: #fff;
  color: #242424;
  display: inline-block;
  margin-right: 6px;
  padding: 0px 9px 0px;
  border-radius: 4px;
}
.tile-area .tile a span {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}
@media all and (max-width: 740px) {
  .tile-area .tile {
    width: 100% !important;
    height: auto;
  }
  .tile-area .tile a {
    text-align: left;
  }
}
.gallery-page .image-container {
  padding: 3% 0;
}
.gallery-page .more-icon {
  margin-bottom: 6%;
}
.image-container {
  width: 100%;
  height: 100vh;
  content: 'viewport-units-buggyfill; height: 100vh;';
  position: relative;
  box-sizing: content-box;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  /* nice when resizing */

  background-color: #6d6d6d;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
}
.image-container.with-text .image-centerer {
  height: 100%;
  display: table;
  overflow: hidden;
}
.image-container.with-text .image-centerer .text {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 37px;
  color: #242424;
  margin: 0px auto 0;
  width: 80%;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -1px 0px rgba(255, 255, 255, 0.3);
  display: table-cell;
  vertical-align: middle;
}
@media all and (max-width: 740px) {
  .image-container.with-text {
    width: 100%;
  }
  .image-container.with-text .image-centerer {
    width: 100%;
  }
  .image-container.with-text .image-centerer .text {
    width: 90%;
  }
}
@media all and (max-width: 1023px) {
  .image-container.with-text .image-centerer .text {
    margin: -5px auto 0;
  }
}
.image-container .image-centerer {
  width: 69%;
  height: 90%;
  margin: 0px auto;
}
.image-container .image-centerer img {
  max-width: 100%;
  max-height: 80%;
  display: block;
  margin: 0px auto;
  border: 10px solid #d7d7d7;
  box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.4), 0px 1px 0px 0px rgba(255, 255, 255, 0.4), -1px 0px 0px 0px rgba(214, 210, 136, 0.4), 0px -1px 0px 0px rgba(214, 210, 136, 0.4), 0px 31px 26px -20px rgba(0, 0, 0, 0.5);
}
.image-container .image-centerer .photo-description {
  text-align: center;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
@media all and (max-width: 1023px) {
  .image-container .image-centerer {
    width: 90%;
    padding: 0 3%;
  }
}
@media all and (min-width: 1200px) {
  .image-container .image-centerer {
    width: 72%;
  }
}
.image-container .more-icon {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  left: 0px;
  color: #fff;
  opacity: 0.3;
  height: 50px;
}
.image-container .more-icon i {
  font-size: 15px;
  margin: 0 10px;
}
@media all and (max-width: 740px) {
  .image-container .more-icon {
    display: none;
  }
}
.wallpaper-waldorpstraat {
  background-color: #6d6d6d;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
}
.wallpaper-scotland {
  background-color: #6e762c;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
}
.wallpaper-usa {
  background-color: #466a8e;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
}
.wallpaper-gouda {
  background-color: #7f6f6a;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
}
.wallpaper-portugal {
  background-color: #c8af93;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
}
.wallpaper-berlin {
  background-color: #6a5040;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #6a5040, #020100 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #6a5040, #020100 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #6a5040, #020100 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #6a5040, #020100 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #6a5040, #020100 100%);
}
.wallpaper-markthal {
  background-color: #ffffff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ffffff, #6d6362 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ffffff, #6d6362 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ffffff, #6d6362 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ffffff, #6d6362 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ffffff, #6d6362 100%);
}
.wallpaper-kookfabriek {
  background-color: #cfc3b7;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #cfc3b7, #996965 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #cfc3b7, #996965 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #cfc3b7, #996965 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #cfc3b7, #996965 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #cfc3b7, #996965 100%);
}
.wallpaper-dyos {
  background-color: #d6d6d6;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #d6d6d6, #6a6a6a 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #d6d6d6, #6a6a6a 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #d6d6d6, #6a6a6a 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #d6d6d6, #6a6a6a 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #d6d6d6, #6a6a6a 100%);
}
.wallpaper-blijdorp {
  background-color: #9bc3e6;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #9bc3e6, #512e09 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #9bc3e6, #512e09 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #9bc3e6, #512e09 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #9bc3e6, #512e09 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #9bc3e6, #512e09 100%);
}
.wallpaper-koffie {
  background-color: #988096;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #988096, #060002 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #988096, #060002 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #988096, #060002 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #988096, #060002 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #988096, #060002 100%);
}
.wallpaper-babym {
  background-color: #ffffff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ffffff, #4c8fb6 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ffffff, #4c8fb6 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ffffff, #4c8fb6 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ffffff, #4c8fb6 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ffffff, #4c8fb6 100%);
}
.wallpaper-stoerejongen {
  background-color: #ebf5ff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ebf5ff, #676767 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ebf5ff, #676767 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ebf5ff, #676767 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ebf5ff, #676767 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ebf5ff, #676767 100%);
}
.wallpaper-stedelijk {
  background-color: #cdac9c;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #cdac9c, #836940 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #cdac9c, #836940 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #cdac9c, #836940 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #cdac9c, #836940 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #cdac9c, #836940 100%);
}
.wallpaper-vuurwerk {
  background-color: #63002f;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #63002f, #000000 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #63002f, #000000 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #63002f, #000000 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #63002f, #000000 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #63002f, #000000 100%);
}
.wallpaper-onweer {
  background-color: #625370;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #625370, #010000 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #625370, #010000 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #625370, #010000 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #625370, #010000 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #625370, #010000 100%);
}
.wallpaper-text {
  background-color: #fffedc;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #fffedc, #9f8fa5 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #fffedc, #9f8fa5 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #fffedc, #9f8fa5 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #fffedc, #9f8fa5 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #fffedc, #9f8fa5 100%);
}
.gallery-map {
  width: 70px;
  position: absolute;
  right: 10px;
  top: 300px;
}
.gallery-map a {
  background-color: rgba(255, 255, 255, 0.17);
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  display: block;
  margin: 1px;
  float: left;
  overflow: hidden;
  text-indent: 44px;
}
.gallery-map a.active {
  background-color: rgba(255, 255, 255, 0.3);
}
.back-tag-homepage {
  color: red;
  position: fixed;
  background-color: #fff;
  background-color: #ffffff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  top: 300px;
  width: 160px;
  box-shadow: -10px 6px 20px 0px rgba(0, 0, 0, 0.3);
  opacity: 0.2;
  transition: opacity .3s;
}
.back-tag-homepage:hover {
  opacity: 1;
  transition: opacity .3s;
}
.back-tag-homepage a {
  text-decoration: none;
  display: block;
  padding: 10px 10px 10px;
}
.back-tag-homepage a h1 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #242424;
  color: #000000;
  text-decoration: underline;
  margin: 0 0 4px;
}
.back-tag-homepage a span {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
}
@media all and (max-width: 1023px) {
  .back-tag-homepage {
    top: auto;
    bottom: 0px;
    width: 100%;
    opacity: 0.95;
  }
  .back-tag-homepage h1 {
    display: inline;
  }
}
@media all and (max-width: 1023px) {
  .gallery-page .image-container {
    padding: 14% 0 3%;
  }
}
@media all and (max-width: 800px) {
  .gallery-map {
    display: none;
  }
}
.hidden {
  display: none;
}
/* MAIN PHOTO */
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
.keep-height {
  overflow: hidden;
}
/* FONTS */
body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
  text-rendering: optimizeLegibility;
}
a {
  color: #000000;
}
strong {
  font-weight: 700;
}
.main-title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #242424;
  margin: 20px 0px 30px;
}
h1,
h2 {
  text-shadow: 0px 1px 1px #909090, 0px 3px 4px rgba(144, 144, 144, 0.5);
}
/* HEADER */
.header-small {
  background-color: #eedc4f;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #eedc4f, #154a18 100%);
  height: 60px;
  text-align: center;
}
.header-small .logo {
  max-height: 100%;
}
/* CONTENT */
.content {
  margin: 0 auto;
  padding: 50px 20%;
  overflow: hidden;
  box-sizing: content-box;
  max-width: 800px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  /* nice when resizing */

}
.content.logo-background {
  max-width: none;
}
.content p {
  margin-bottom: 30px;
}
@media all and (max-width: 1023px) {
  .content {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    /* nice when resizing */
  
    padding: 50px 10%;
  }
}
@media all and (max-width: 480px) {
  .content {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    /* nice when resizing */
  
    padding: 50px 4%;
  }
}
/* INITIAL */
.initial {
  width: 250px;
  height: 250px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 250px;
  line-height: 275px;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 0px #000000;
  box-shadow: inset 0px 0px 90px 0px #000000;
  float: left;
  margin: 0px 30px 30px 0px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  /* nice when resizing */

}
.initial.initial-treinontmoeting {
  background-image: url('/img/initial-treinontmoeting.jpg');
}
.initial.initial-glinsterendeogen {
  background-image: url('/img/initial-glinsterendeogen.jpg');
}
@media all and (max-width: 1023px) {
  .initial {
    width: 200px;
    height: 200px;
    font-size: 210px;
    line-height: 230px;
    transition: all .6s;
    /* nice when resizing */
  
  }
}
@media all and (max-width: 740px) {
  .initial {
    width: 120px;
    height: 120px;
    font-size: 120px;
    line-height: 140px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    /* nice when resizing */
  
  }
}
/* IMAGES */
.image-break-out-right {
  width: 450px;
  float: right;
  margin: 0px -30% 30px 50px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  /* nice when resizing */

}
@media all and (max-width: 1023px) {
  .image-break-out-right {
    margin: 0px 0px 10px 20px;
    width: 50%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    /* nice when resizing */
  
  }
}
@media all and (max-width: 740px) {
  .image-break-out-right {
    margin: 20px 0;
    width: 100%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    /* nice when resizing */
  
  }
}
@media all and (min-width: 1200px) {
  .image-break-out-right {
    width: 600px;
  }
}
.image-small-closer {
  width: 80px;
}
.image-full-width {
  width: 100%;
}
.link-phonenumber {
  text-decoration: none;
}
@media all and (max-width: 740px) {
  .link-phonenumber {
    text-decoration: underline;
  }
}
/* FOOTER */
.footer {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.footer ul li {
  float: left;
  margin-right: 20px;
}
@media all and (max-width: 1023px) {
  .footer {
    margin-bottom: 50px;
  }
}
