/* TEXT COLORS */
/* MAIN TEXT */
/* SEC TEXT */
/* BREAKPOINTS */
/* MAIN TEXT */
/* SEC TEXT */
.image-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  position: relative;
  background-color: #6d6d6d;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
}
.image-container .image-centerer {
  width: 75%;
  height: 90%;
}
.image-container .image-centerer img {
  max-width: 100%;
  max-height: 80%;
  display: block;
  margin: 0px auto;
  border: 10px solid #d7d7d7;
  box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.4), 0px 1px 0px 0px rgba(255, 255, 255, 0.4), -1px 0px 0px 0px rgba(214, 210, 136, 0.4), 0px -1px 0px 0px rgba(214, 210, 136, 0.4), 0px 31px 26px -20px rgba(0, 0, 0, 0.5);
}
.image-container .image-centerer .photo-description {
  text-align: center;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.image-container .more-icon {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  left: 0px;
  color: #fff;
  font-size: 30px;
  opacity: 0.3;
  height: 50px;
}
@media all and (max-width: 1023px) {
  .image-container .more-icon {
    display: none;
  }
}
@media all and (max-width: 1023px) {
  .image-container {
    height: auto;
    padding: 40px 0px 80px;
  }
}
.content {
  margin: 0 auto;
  padding: 50px 20%;
  overflow: hidden;
}
@media all and (max-width: 1023px) {
  .content {
    padding: 50px 10%;
  }
}
@media all and (max-width: 480px) {
  .content {
    padding: 50px 4%;
  }
}
.tile {
  width: 200px;
  margin: 50px 20px 0 0px;
  background-color: bisque;
  background-color: #b4056b;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #b4056b, #09071d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #b4056b, #4a1543 100%);
  transition: all .3s;
}
.tile:hover {
  -webkit-filter: grayscale(0.4);
  -moz-filter: grayscale(0.4);
  -o-filter: grayscale(0.4);
  -ms-filter: grayscale(0.4);
  filter: grayscale(0.4);
  transition: all .3s;
}
.tile a {
  text-decoration: none;
  display: block;
  padding: 10px 30px 10px;
  text-align: center;
}
.tile a h1 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #5a5a5a;
  color: #ffffff;
  text-decoration: underline;
  margin: 0 0 4px;
}
.tile a span {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}
.gallery-page .image-container {
  padding: 3% 0;
}
.gallery-page .more-icon {
  margin-bottom: 6%;
}
.wallpaper-waldorpstraat {
  background-color: #6d6d6d;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #6d6d6d, #09071d 100%);
}
.wallpaper-scotland {
  background-color: #6e762c;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #6e762c, #09071d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #6e762c, #000000 100%);
}
.wallpaper-usa {
  background-color: #466a8e;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #466a8e, #09071d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #466a8e, #0a0608 100%);
}
.wallpaper-gouda {
  background-color: #7f6f6a;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #7f6f6a, #09071d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #7f6f6a, #5f6c75 100%);
}
.wallpaper-portugal {
  background-color: #c8af93;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #c8af93, #09071d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #c8af93, #2a1c0d 100%);
}
.gallery-map {
  width: 70px;
  position: absolute;
  right: 10px;
  top: 40%;
}
.gallery-map a {
  background-color: rgba(255, 255, 255, 0.17);
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  display: block;
  margin: 1px;
  float: left;
  overflow: hidden;
  text-indent: 44px;
}
.gallery-map a.active {
  background-color: rgba(255, 255, 255, 0.3);
}
.back-tag-homepage {
  color: red;
  position: fixed;
  background-color: #fff;
  background-color: #ffffff;
  background-image: -moz-radial-gradient(50% -10%, ellipse cover, #ffffff, #09071d 100%);
  background-image: -webkit-radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  background-image: -o-radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  background-image: -ms-radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  background-image: radial-gradient(50% -10%, ellipse cover, #ffffff, #959ba4 100%);
  top: 40%;
  width: 160px;
  box-shadow: -10px 6px 20px 0px rgba(0, 0, 0, 0.3);
  opacity: 0.2;
  transition: opacity .3s;
}
.back-tag-homepage:hover {
  opacity: 1;
  transition: opacity .3s;
}
.back-tag-homepage a {
  text-decoration: none;
  display: block;
  padding: 10px 10px 10px;
}
.back-tag-homepage a h1 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #5a5a5a;
  color: #000000;
  text-decoration: underline;
  margin: 0 0 4px;
}
.back-tag-homepage a span {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #5a5a5a;
}
@media all and (max-width: 1023px) {
  .gallery-page .image-container {
    padding: 4% 0 13%;
  }
  .gallery-map {
    top: auto;
    bottom: 6%;
    margin-bottom: 20px;
    left: 5%;
    width: 90%;
  }
}
/* MAIN PHOTO */
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #5a5a5a;
  text-rendering: optimizeLegibility;
}
a {
  color: #000000;
}
/* FOOTER */
.footer {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #5a5a5a;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.footer ul li {
  float: left;
  margin-right: 20px;
}
