/* DARK MODE */
.spacer-top-s { margin-top: 0.4em; }

.spacer-top-m { margin-top: 0.8em; }

.p1 { background-color: #e6d717; }

.p1 h2, .p1 h3, .p1 p, .p1 a, .p1 li { color: rgba(0, 0, 0, 0.8); }

.p2 { background-color: #009fbf; }

.p2 h2, .p2 h3, .p2 p, .p2 a, .p2 li { color: rgba(0, 0, 0, 0.8); }

.p3 { background-color: #00697e; }

.p3 h2, .p3 h3, .p3 p, .p3 a, .p3 li { color: rgba(0, 0, 0, 0.8); }

.p4 { background-color: #ffdbad; }

.p4 h2, .p4 h3, .p4 p, .p4 a, .p4 li { color: rgba(0, 0, 0, 0.8); }

.s1 { background-color: #ffdbad; }

.s1 h2, .s1 h3, .s1 p, .s1 a, .s1 li { color: rgba(0, 0, 0, 0.8); }

.s2 { background-color: #3a3a3a; }

.s2 h2, .s2 h3, .s2 p, .s2 a, .s2 li { color: rgba(0, 0, 0, 0.8); }

/* DARK MODE */
.spacer-top-s { margin-top: 0.4em; }

.spacer-top-m { margin-top: 0.8em; }

.p1 { background-color: #e6d717; }

.p1 h2, .p1 h3, .p1 p, .p1 a, .p1 li { color: rgba(0, 0, 0, 0.8); }

.p2 { background-color: #009fbf; }

.p2 h2, .p2 h3, .p2 p, .p2 a, .p2 li { color: rgba(0, 0, 0, 0.8); }

.p3 { background-color: #00697e; }

.p3 h2, .p3 h3, .p3 p, .p3 a, .p3 li { color: rgba(0, 0, 0, 0.8); }

.p4 { background-color: #ffdbad; }

.p4 h2, .p4 h3, .p4 p, .p4 a, .p4 li { color: rgba(0, 0, 0, 0.8); }

.s1 { background-color: #ffdbad; }

.s1 h2, .s1 h3, .s1 p, .s1 a, .s1 li { color: rgba(0, 0, 0, 0.8); }

.s2 { background-color: #3a3a3a; }

.s2 h2, .s2 h3, .s2 p, .s2 a, .s2 li { color: rgba(0, 0, 0, 0.8); }

html, body { height: 100%; width: 100%; margin: 0; padding: 0; left: 0; top: 0; }

* { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; font-family: "Kanit", sans-serif; color: rgba(0, 0, 0, 0.8); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media screen and (prefers-color-scheme: dark) { * { color: rgba(255, 255, 255, 0.7); } }

h1, h2, h3, h4, h1 span, h2 span, h3 span, h4 span { font-family: "Kanit", sans-serif; font-color: rgba(0, 0, 0, 0.8); font-weight: 500; letter-spacing: -0.6px; line-height: 1.395em; margin: 0 0 0.33em; }

h1 { font-size: 2.6rem; }

h1:first-of-type { margin: 0 0 0.6em; }

@media screen and (min-width: 600px) { h1 { font-size: 2.73rem; } }

@media screen and (min-width: 1200px) { h1 { font-size: 2.86rem; } }

@media screen and (min-width: 1600px) { h1 { font-size: 2.99rem; } }

h2 { font-size: 2rem; }

@media screen and (min-width: 600px) { h2 { font-size: 2.1rem; } }

@media screen and (min-width: 1200px) { h2 { font-size: 2.2rem; } }

@media screen and (min-width: 1600px) { h2 { font-size: 2.3rem; } }

h3 { font-size: 1.7rem; }

@media screen and (min-width: 600px) { h3 { font-size: 1.785rem; } }

@media screen and (min-width: 1200px) { h3 { font-size: 1.87rem; } }

@media screen and (min-width: 1600px) { h3 { font-size: 1.955rem; } }

h4 { font-size: 1.1rem; line-height: 1.55em; }

@media screen and (min-width: 600px) { h4 { font-size: 1.3em; } }

@media screen and (min-width: 1200px) { h4 { font-size: 1.4em; } }

@media screen and (min-width: 1600px) { h4 { font-size: 1.47em; } }

p, a, li, input, textarea { font-size: 1.1rem; line-height: 1.55em; font-weight: 200; }

@media screen and (min-width: 600px) { p, a, li, input, textarea { font-size: 1.155rem; } }

@media screen and (min-width: 1200px) { p, a, li, input, textarea { font-size: 1.21rem; } }

@media screen and (min-width: 1600px) { p, a, li, input, textarea { font-size: 1.265rem; } }

i, figcaption { font-style: italic; }

p, ul, ol { margin-bottom: 0.8em; }

strong { color: #000; letter-spacing: -0.02em; font-weight: 500; }

strong a { font-weight: 500; }

@media screen and (prefers-color-scheme: dark) { strong { color: #fff; } }

ul, ol { list-style-type: none; }

ul.list, ul.ordered-list, ol.list, ol.ordered-list { margin-left: 1em; }

ul.list li, ol.list li { list-style-type: disc; padding-left: 5px; }

ul.ordered-list li, ol.ordered-list li { list-style-type: decimal; }

a:hover { background-color: #171717; color: #ffdbad; }

@media screen and (prefers-color-scheme: dark) { a:hover { color: #fff; } }

a:focus { background-color: #d0b28d; color: #171717; }

@media screen and (prefers-color-scheme: dark) { a:focus { background-color: #6b655c; color: #fff; } }

input[type="email"], input[type="text"], select, textarea { background-color: #fff; font-family: "Kanit", sans-serif; padding: 5px; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; /* Opera/IE 8+ */ width: 100%; font-weight: inherit; }

input[type="email"], input[type="text"] { background-color: #fff; font-family: "Kanit", sans-serif; }

input[type="submit"], button { font-weight: inherit; }

select { background-color: #fff; font-family: "Kanit", sans-serif; }

@media screen and (prefers-color-scheme: dark) { option { color: #171717; } }

textarea { height: 200px; min-height: 200px; max-width: 100%; min-width: 100%; }

.intro { font-size: 1.155rem; }

@media screen and (min-width: 600px) { .intro { font-size: 1.21275rem; } }

@media screen and (min-width: 1200px) { .intro { font-size: 1.2705rem; } }

@media screen and (min-width: 1600px) { .intro { font-size: 1.32825rem; } }

figcaption { font-size: 0.9rem; color: rgba(0, 0, 0, 0.6); margin-bottom: 0.8em; }

@media screen and (min-width: 600px) { figcaption { font-size: 0.945rem; } }

@media screen and (min-width: 1200px) { figcaption { font-size: 0.99rem; } }

@media screen and (min-width: 1600px) { figcaption { font-size: 1.035rem; } }

hr { height: 2px; border-top: 5px solid #171717; margin: 60px 0 0; }

@media screen and (prefers-color-scheme: dark) { hr { border-top: 5px solid #fff; } }

hr.small { height: 0px; border-top: 0px; border-bottom: 1px solid #171717; margin: 52px 0 0; }

@media screen and (prefers-color-scheme: dark) { hr.small { border-bottom: 1px solid #fff; } }

.nohyperlinks { pointer-events: none; }

.nohyperlinks > a { text-decoration: none; color: inherit; }

.left { text-align: left; }

.right { text-align: right; }

.center { text-align: center; margin-left: auto; margin-right: auto; }

.justify { text-align: justify; }

.small, .metadata ul li, .intermezzo p, .intermezzo a, .intermezzo li { font-size: 0.9rem; line-height: 1.395em; }

.hidden-sm { display: none; }

.spacer-top-m { padding-top: 21px; }

.spacer-top-l { padding-top: 35px; }

.spacer-bottom-l { padding-bottom: 35px; }

.container, .footer { margin-left: auto; margin-right: auto; }

@media only screen and (min-width: 600px) { .container, .footer { width: 80%; max-width: 50rem; } }

@media only screen and (min-width: 1600px) { .container, .footer { width: 75%; max-width: 60rem; } }

.company-data { margin-top: 4em; padding-bottom: 20em; }

.company-data .divider { margin: 0px 20px; background-color: #171717; display: block; width: 0px; height: 0em; }

@media only screen and (min-width: 600px) { .company-data .divider { display: inline-block; width: 1px; height: .8em; } }

@media screen and (prefers-color-scheme: dark) { .company-data .divider { background-color: #fff; } }

.company-data p { font-size: 1.1rem; text-align: center; color: #171717; }

@media screen and (prefers-color-scheme: dark) { .company-data p { color: rgba(255, 255, 255, 0.7); } .company-data p > a { color: rgba(255, 255, 255, 0.7); } }

.row { position: relative; width: 100%; }

.row [class^="col"] { float: left; margin: 2% 3%; min-height: 0.125rem; }

.row::after { content: ""; display: table; clear: both; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { width: 94%; }

.col-1-sm { width: 2.3333333333%; }

.col-2-sm { width: 10.6666666667%; }

.col-3-sm { width: 19%; }

.col-4-sm { width: 27.3333333333%; }

.col-5-sm { width: 35.6666666667%; }

.col-6-sm { width: 44%; }

.col-7-sm { width: 52.3333333333%; }

.col-8-sm { width: 60.6666666667%; }

.col-9-sm { width: 69%; }

.col-10-sm { width: 77.3333333333%; }

.col-11-sm { width: 85.6666666667%; }

.col-12-sm { width: 94%; }

@media only screen and (min-width: 1200px) { .col-1 { width: 2.3333333333%; } .col-2 { width: 10.6666666667%; } .col-3 { width: 19%; } .col-4 { width: 27.3333333333%; } .col-5 { width: 35.6666666667%; } .col-6 { width: 44%; } .col-7 { width: 52.3333333333%; } .col-8 { width: 60.6666666667%; } .col-9 { width: 69%; } .col-10 { width: 77.3333333333%; } .col-11 { width: 85.6666666667%; } .col-12 { width: 94%; } .hidden-sm { display: block; } }

html, body { background-color: #ffdbad; }

@media screen and (prefers-color-scheme: dark) { html, body { background-color: #3a3a3a; } }

:root { color-scheme: light; }

@media screen and (prefers-color-scheme: dark) { :root { color-scheme: dark; } }

header { position: relative; }

header .logo { display: inline-block; vertical-align: bottom; margin-top: 30px; }

header .logo:hover { background-color: transparent; }

header .logo:focus { background-color: #d0b28d; }

@media screen and (prefers-color-scheme: dark) { header .logo:focus { background-color: #6b655c; } }

header .logo, header .franklabs a { text-decoration: none; }

header .franklabs { font-size: 2.1em; }

header .franklabs:hover { text-decoration: underline; }

@media only screen and (min-width: 600px) { header { width: 80%; max-width: 50rem; } }

@media only screen and (min-width: 1600px) { header { width: 75%; max-width: 60rem; } }

header img { width: 245px; display: inline-block; vertical-align: bottom; filter: invert(0); }

@media screen and (prefers-color-scheme: dark) { header img { filter: invert(1); } }

header .menu { margin: 35px auto 0px; }

header .menu ul li { display: inline-block; margin-right: .6em; }

.container { position: relative; }

.container h2 i { font-weight: 600; letter-spacing: -3.8px; }

.container .metadata { position: relative; }

.container .metadata ul { margin-bottom: 2em; }

.container .metadata ul li { font-style: italic; color: rgba(0, 0, 0, 0.6); margin-left: 49px; }

@media screen and (prefers-color-scheme: dark) { .container .metadata ul li { color: rgba(255, 255, 255, 0.8); } }

.container .metadata .avatar { float: right; position: absolute; top: -2px; left: 0px; width: 36px; }

@media screen and (min-width: 1200px) { .container .metadata .avatar { float: none; position: relative; top: 0px; width: 104px; margin-top: 10px; } }

@media screen and (min-width: 1200px) { .container .metadata { position: absolute; right: -267px; width: 250px; } .container .metadata ul li { margin-left: 0; } }

@media screen and (min-width: 1200px) { .container .spacer-ava-gr1200 { height: 60px; width: 100%; } }

.container figure { margin: 0em 0px 1.2em; }

.container figure.right-small { width: 100%; position: relative; float: right; margin: 0px 0px 20px 40px; }

@media screen and (min-width: 600px) { .container figure.right-small { width: 150px; } }

@media screen and (min-width: 1200px) { .container figure.right-small { width: 250px; } }

.container figure img { width: 100%; }

@media screen and (prefers-color-scheme: dark) { .container figure img { filter: brightness(0.7) contrast(1.2); } }

.container figure figcaption { width: 100%; margin: 1em 0; text-align: center; }

@media screen and (prefers-color-scheme: dark) { .container figure figcaption { color: rgba(255, 255, 255, 0.7); } }

.container .intro { border-bottom: 1px solid #9ba79d; padding-bottom: 1em; }

@media screen and (prefers-color-scheme: dark) { .container .intro { border-bottom: 1px solid #9ba79d; } }

.container .intermezzo { border: 1px solid black; padding: 1em 5% 0.4em; margin: 1.3em 0 1.1em; }

@media screen and (prefers-color-scheme: dark) { .container .intermezzo { border: 1px solid rgba(255, 255, 255, 0.7); } }

@media screen and (min-width: 600px) { .container .intermezzo { border: 1px solid black; } }

@media screen and (min-width: 600px) and (prefers-color-scheme: dark) { .container .intermezzo { border: 1px solid rgba(255, 255, 255, 0.7); } }

@media screen and (min-width: 1200px) { .container .intermezzo { border: 1px solid black; margin: 1.4em 0 1.2em; } }

@media screen and (min-width: 1200px) and (prefers-color-scheme: dark) { .container .intermezzo { border: 1px solid rgba(255, 255, 255, 0.7); } }

@media screen and (min-width: 1600px) { .container .intermezzo { position: absolute; right: -379px; width: 250px; margin-top: 0px; padding: 1.4em 5% 1.0em; } }

.container .intermezzo h4 { margin-top: 0px; }

.container .button { background-color: rgba(0, 0, 0, 0.4); border: 1px solid rgba(0, 0, 0, 0); color: #fff; padding: 1px 13px 4px; text-decoration: none; -webkit-font-smoothing: antialiased; border-radius: 22px; }

.container .button:hover { border: 1px solid #171717; background-color: transparent; color: #171717; cursor: pointer; }

.container .button.inverse { background-color: #fff; border: 1px solid #171717; color: #171717; }

@media screen and (prefers-color-scheme: dark) { .container .button.inverse { background-color: #545655; } }

@media screen and (prefers-color-scheme: dark) { .container .button.inverse { border: 1px solid rgba(255, 255, 255, 0.7); } }

@media screen and (prefers-color-scheme: dark) { .container .button.inverse { color: rgba(255, 255, 255, 0.7); } }

.container .button.inverse:hover { background-color: rgba(0, 0, 0, 0.4); border: 1px solid rgba(0, 0, 0, 0); color: #fff; }

@media screen and (prefers-color-scheme: dark) { .container .button.inverse:hover { background-color: rgba(255, 255, 255, 0.4); } }

@media screen and (prefers-color-scheme: dark) { .container .button.inverse:hover { color: #545655; } }

.container .button-large { display: inline-block; padding: 10px 12px; margin-right: 6px; text-decoration: none; color: #fff; background: #009fbf; xbackground: linear-gradient(204deg, #dadfdf, #a5a8a8); }

.container .button-large:hover { background: #00697e; }

@media screen and (prefers-color-scheme: dark) { .container .button-large { filter: invert(1); } }

.container .image-homepage, .container .image-over { object-fit: cover; }

.container .image-homepage { height: 260px; }

@media only screen and (min-width: 600px) { .container .image-homepage { height: 360px; } }

.container .pricing { padding: 0px 8px; margin: 0px 8px 0px 0px; display: inline-block; border: 1px solid #171717; }

@media screen and (prefers-color-scheme: dark) { .container .pricing { border: 1px solid #fff; } }

.container .gradient-text { background: -webkit-linear-gradient(left, #2c424d, #557880); background: linear-gradient(to right, #2c424d, #557880); background-clip: border-box; color: rgba(233, 70, 150, 0); -webkit-background-clip: text; }

@media screen and (prefers-color-scheme: dark) { .container .gradient-text { background: -webkit-linear-gradient(left, #627e7b, #77938b); background: linear-gradient(to right, #627e7b, #77938b); background-clip: border-box; color: rgba(233, 70, 150, 0); -webkit-background-clip: text; } }

.container h2 { position: relative; }

@media only screen and (min-width: 600px) { .container h2 { position: relative; } }

.container .header-icon:before { content: ""; display: block; width: 50px; height: 50px; position: absolute; left: 86%; top: -7px; }

@media only screen and (min-width: 600px) { .container .header-icon:before { left: -70px; top: 0px; } }

@media screen and (prefers-color-scheme: dark) { .container .header-icon:before { filter: invert(1); } }

.container .header-icon-checklist:before { background: url("/img/icons-po/checklist.png") no-repeat; background-size: contain; }

.container .header-icon-inbox:before { background: url("/img/icons-po/inbox.png") no-repeat; background-size: contain; }

.container .header-icon-list:before { background: url("/img/icons-po/list.png") no-repeat; background-size: contain; }

.container .header-icon-checkbox:before { background: url("/img/icons-po/checkbox.png") no-repeat; background-size: contain; }

.container .header-icon-poppetje-wijst:before { background: url("/img/icons-po/poppetje-wijst.png") no-repeat; background-size: contain; }

.container .header-icon-poppetje-steekt-hand-op:before { background: url("/img/icons-po/poppetje-steekt-hand-op.png") no-repeat; background-size: contain; }

.container .header-icon-poppetje-springt:before { background: url("/img/icons-po/poppetje-springt.png") no-repeat; background-size: contain; }

.container .header-icon-gezichtje-iets-schuin:before { background: url("/img/icons-po/gezichtje-iets-schuin.png") no-repeat; background-size: contain; }

.container .header-icon-gezichtje-met-kuif:before { background: url("/img/icons-po/gezichtje-met-kuif.png") no-repeat; background-size: contain; }

.container .header-icon-list:before { background: url("/img/icons-po/list.png") no-repeat; background-size: contain; }

.container .header-icon-email:before { background: url("/img/icons-po/email.png") no-repeat; background-size: contain; }

.container .header-icon-phone:before { background: url("/img/icons-po/phone.png") no-repeat; background-size: contain; }

.home-link { background-color: tan; }

/*# sourceMappingURL=styles.css.map */