@import "variables.scss";



body {
  background-color: $color-p1;
}

.slanted-divider {
  overflow: hidden;
  height: 170px;
  width: 100%;
  position: relative;
  z-index: 0;
  // @media only screen and (min-width: $breakpoint-small) {
  //   height: 170px;
  // }
  @media only screen and (min-width: $breakpoint-med) {
    height: 260px;
  }
  .slanted-thing {
    @extend .rotated;
    top: 60px;
    left: -20px;
    width: 110%;
    height: 100%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    position: absolute;
    @media only screen and (min-width: $breakpoint-small) {
      top: 160px;
    }
    @media only screen and (min-width: $breakpoint-med) {
      top: 250px;
    }
  }
}

.header {

  text-align: center;
  .logo {
    width: 100%;
    margin-top: 110px;
    position: relative;
    @media screen and (min-width: 900px) {
      width: 500px;
    }
  }
  h1 {
    font-family: $font-header;
    color: $color-t;
    font-size: 1.8em;
    position: relative;
  }
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: .375rem .75rem;
  text-decoration: none;
  &:hover {
    background-color: #ff375f;
  }
  a {
    color: $color-t;
  }
  &~.btn {
    margin-left: 0.5rem;
  }
  &.p3 {
    color: $color-t;
  }
}


.game {
  position: relative;
  padding-bottom: 30px;
  &.col-6 {
    h3 {
      font-size: 3em;
      line-height: 1em;
      margin-top: 6px;
      text-shadow: 0px 1px 1px rgba(4, 4, 4, 0.2);
    }
    h3 ~ p {
      margin-top: 9px;
    }
  }
  h3 {
    margin: 0 0 0 0;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .logo-container {
    position: absolute;
    bottom: 207px;
    width: 100%;
    left: 0;
    .game-logo-large {
      position: relative;
      width: 47%;
      margin: 0px auto 0px;
      display: block;
    }
  }
  img {
    width: 100%;
    // margin-top: 26px;
  }
  h3 ~ p {
    margin-top: 0px;
  }
  a {
    position: relative;
    &.tile {
      display: block;
      overflow: auto;
      &:hover {
        &:before {
          content: "Go to website »";
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: $color-p2;
          color: $color-ti;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    img {
      display: block;
      float: left;
    }
  }
}

.footer {
  .container {
    padding-top: 100px;
  }
  padding-bottom: 160px;
  img {
    width: 100%;
    @media only screen and (min-width: $breakpoint-med) {
      margin: 7px 0 0 0;
    }
    @media only screen and (min-width: $breakpoint-large) {
      margin: 16px 0 0 0;
    }
  }
  h2 {
    margin: -10px 0 -10px 0;
  }
  @media only screen and (min-width: $breakpoint-large) {
    img ~ p {
      margin-top: 10px;
    }
    h2 ~ p, h2 ~ ul {
      margin-top: 0px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
}
