<!doctype html>
<html lang="en">
  <head>
    <!-- Title block allowing child pages to override -->
    <title>{% block title %}Frank labs{% endblock %}</title>

    {% include "head" %}

    {% block styles %}{% endblock %}

  </head>
  <body class="{% block bodyclass %}{% endblock %}">

    {% block content %}{% endblock %}

    <!-- Script block allowing child pages to inject their own scripts -->
    {% block scripts %}{% endblock %}
    <!-- {{ "app.js" | asset_url | script_tag }} -->

    {% include "footer" %}
  </body>
</html>