/* line 28, ../sass/variables.scss */
.rotated, .slanted-divider .slanted-thing {
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

/* line 51, ../sass/variables.scss */
.p1 {
  background-color: #ececec;
}
/* line 51, ../sass/variables.scss */
.p1 h2, .p1 h3, .p1 p, .p1 a, .p1 li {
  color: #404040;
}

/* line 52, ../sass/variables.scss */
.p2 {
  background-color: #262626;
}
/* line 52, ../sass/variables.scss */
.p2 h2, .p2 h3, .p2 p, .p2 a, .p2 li {
  color: #ececec;
}

/* line 53, ../sass/variables.scss */
.p3 {
  background-color: #ececec;
}
/* line 53, ../sass/variables.scss */
.p3 h2, .p3 h3, .p3 p, .p3 a, .p3 li {
  color: #404040;
}

/* line 54, ../sass/variables.scss */
.s1 {
  background-color: #262626;
}
/* line 54, ../sass/variables.scss */
.s1 h2, .s1 h3, .s1 p, .s1 a, .s1 li {
  color: #ececec;
}

/* line 55, ../sass/variables.scss */
.s2 {
  background-color: #ececec;
}
/* line 55, ../sass/variables.scss */
.s2 h2, .s2 h3, .s2 p, .s2 a, .s2 li {
  color: #404040;
}

/* line 65, ../sass/variables.scss */
.p1 {
  background-color: #ffffff;
}
/* line 65, ../sass/variables.scss */
.p1 h2, .p1 h3, .p1 p, .p1 a, .p1 li {
  color: #404040;
}

/* line 66, ../sass/variables.scss */
.p2 {
  background-color: #ffac00;
}
/* line 66, ../sass/variables.scss */
.p2 h2, .p2 h3, .p2 p, .p2 a, .p2 li {
  color: #404040;
}

/* line 67, ../sass/variables.scss */
.p3 {
  background-color: #ad3118;
}
/* line 67, ../sass/variables.scss */
.p3 h2, .p3 h3, .p3 p, .p3 a, .p3 li {
  color: #ececec;
}

/* line 68, ../sass/variables.scss */
.s1 {
  background-color: #ffffff;
}
/* line 68, ../sass/variables.scss */
.s1 h2, .s1 h3, .s1 p, .s1 a, .s1 li {
  color: #404040;
}

/* line 69, ../sass/variables.scss */
.s2 {
  background-color: #2b2323;
}
/* line 69, ../sass/variables.scss */
.s2 h2, .s2 h3, .s2 p, .s2 a, .s2 li {
  color: #ececec;
}

/**/
/* line 3, ../sass/main.scss */
body {
  background-color: #ffffff;
}

/* line 7, ../sass/main.scss */
.slanted-divider {
  overflow: hidden;
  height: 70px;
  width: 100%;
  position: relative;
  z-index: 0;
}
@media only screen and (min-width: 600px) {
  /* line 7, ../sass/main.scss */
  .slanted-divider {
    height: 170px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 7, ../sass/main.scss */
  .slanted-divider {
    height: 260px;
  }
}
/* line 19, ../sass/main.scss */
.slanted-divider .slanted-thing {
  top: 60px;
  left: 0;
  width: 110%;
  height: 100%;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  position: absolute;
}
@media only screen and (min-width: 600px) {
  /* line 19, ../sass/main.scss */
  .slanted-divider .slanted-thing {
    top: 160px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 19, ../sass/main.scss */
  .slanted-divider .slanted-thing {
    top: 250px;
  }
}

/* line 37, ../sass/main.scss */
.header {
  height: 323px;
  text-align: center;
}
/* line 40, ../sass/main.scss */
.header .logo {
  width: 100%;
  margin-top: 110px;
  position: relative;
}
@media screen and (min-width: 900px) {
  /* line 40, ../sass/main.scss */
  .header .logo {
    width: 500px;
  }
}
/* line 48, ../sass/main.scss */
.header h1 {
  font-family: "Kanit", sans-serif;
  color: #404040;
  font-size: 1.8em;
  position: relative;
}

/* line 55, ../sass/main.scss */
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: .375rem .75rem;
  text-decoration: none;
}
/* line 63, ../sass/main.scss */
.btn:hover {
  background-color: #2b2323;
}
/* line 66, ../sass/main.scss */
.btn a {
  color: #ececec;
}
/* line 69, ../sass/main.scss */
.btn ~ .btn {
  margin-left: 0.5rem;
}
/* line 72, ../sass/main.scss */
.btn.p3 {
  color: #ececec;
}

/* line 77, ../sass/main.scss */
.c1 {
  background-color: #1c2726;
}
/* line 79, ../sass/main.scss */
.c1 h3, .c1 p {
  color: #ececec;
}

/* line 83, ../sass/main.scss */
.c2 {
  background-color: #b8c0b1;
}
/* line 85, ../sass/main.scss */
.c2 h3, .c2 p {
  color: #404040;
}

/* line 91, ../sass/main.scss */
.games img {
  color: blue;
}

/* line 97, ../sass/main.scss */
.game {
  position: relative;
  margin-bottom: 10px;
}
/* line 101, ../sass/main.scss */
.game.col-6 h3 {
  font-size: 3em;
}
/* line 105, ../sass/main.scss */
.game h3 {
  margin: 0 0 0 0;
  text-align: center;
}
/* line 109, ../sass/main.scss */
.game p {
  text-align: center;
}
/* line 112, ../sass/main.scss */
.game .logo-container {
  position: absolute;
  bottom: 207px;
  width: 100%;
  left: 0;
}
/* line 117, ../sass/main.scss */
.game .logo-container .game-logo-large {
  position: relative;
  width: 47%;
  margin: 0px auto 0px;
  display: block;
}
/* line 124, ../sass/main.scss */
.game img {
  width: 100%;
}
/* line 128, ../sass/main.scss */
.game h3 ~ p {
  margin-top: 0px;
}

/* line 133, ../sass/main.scss */
.footer {
  padding-bottom: 160px;
}
/* line 134, ../sass/main.scss */
.footer .container {
  padding-top: 100px;
}
/* line 138, ../sass/main.scss */
.footer img {
  width: 100%;
  margin: 16px 0 0 0;
}
/* line 142, ../sass/main.scss */
.footer h2 {
  margin: -10px 0 -10px 0;
}
@media only screen and (min-width: 2000px) {
  /* line 146, ../sass/main.scss */
  .footer img ~ p {
    margin-top: 10px;
  }
  /* line 149, ../sass/main.scss */
  .footer h2 ~ p, .footer h2 ~ ul {
    margin-top: 0px;
  }
}
/* line 153, ../sass/main.scss */
.footer ul {
  list-style-type: none;
  padding: 0;
}
