/* line 22, ../sass/variables.scss */
.rotated {
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

/* line 26, ../sass/variables.scss */
.rotated-inverse {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

/* line 41, ../sass/variables.scss */
.p1 {
  background-color: #ececec;
}
/* line 41, ../sass/variables.scss */
.p1 h2, .p1 h3, .p1 p, .p1 a, .p1 li {
  color: #404040;
}

/* line 42, ../sass/variables.scss */
.p2 {
  background-color: #262626;
}
/* line 42, ../sass/variables.scss */
.p2 h2, .p2 h3, .p2 p, .p2 a, .p2 li {
  color: #ececec;
}

/* line 43, ../sass/variables.scss */
.p3 {
  background-color: #ececec;
}
/* line 43, ../sass/variables.scss */
.p3 h2, .p3 h3, .p3 p, .p3 a, .p3 li {
  color: #404040;
}

/* line 44, ../sass/variables.scss */
.s1 {
  background-color: #b8b8b9;
}
/* line 44, ../sass/variables.scss */
.s1 h2, .s1 h3, .s1 p, .s1 a, .s1 li {
  color: #404040;
}

/* line 45, ../sass/variables.scss */
.s2 {
  background-color: #ececec;
}
/* line 45, ../sass/variables.scss */
.s2 h2, .s2 h3, .s2 p, .s2 a, .s2 li {
  color: #404040;
}

/* line 84, ../sass/variables.scss */
.p1 {
  background-color: #afcbff;
}
/* line 84, ../sass/variables.scss */
.p1 h2, .p1 h3, .p1 p, .p1 a, .p1 li {
  color: rgba(21, 21, 21, 0.95);
}

/* line 85, ../sass/variables.scss */
.p2 {
  background-color: #4265a6;
}
/* line 85, ../sass/variables.scss */
.p2 h2, .p2 h3, .p2 p, .p2 a, .p2 li {
  color: white;
}

/* line 86, ../sass/variables.scss */
.p3 {
  background-color: #f2365b;
}
/* line 86, ../sass/variables.scss */
.p3 h2, .p3 h3, .p3 p, .p3 a, .p3 li {
  color: white;
}

/* line 87, ../sass/variables.scss */
.p4 {
  background-color: #3ab363;
}
/* line 87, ../sass/variables.scss */
.p4 h2, .p4 h3, .p4 p, .p4 a, .p4 li {
  color: white;
}

/* line 88, ../sass/variables.scss */
.s1 {
  background-color: #ffffff;
}
/* line 88, ../sass/variables.scss */
.s1 h2, .s1 h3, .s1 p, .s1 a, .s1 li {
  color: rgba(21, 21, 21, 0.95);
}

/* line 89, ../sass/variables.scss */
.s2 {
  background-color: #2b2323;
}
/* line 89, ../sass/variables.scss */
.s2 h2, .s2 h3, .s2 p, .s2 a, .s2 li {
  color: white;
}

/**/
