<!-- FOOTER -->
<div class="footer content">
  <ul>
    <li>Frank van den Hoogen</li>
    <li><a href="tel://0641546530" class="link-phonenumber">0641546530</a></li>
    <li><a href="mailto:frankvdhoogen@gmail.com">frankvdhoogen@gmail.com</a></li>
  </ul>
</div>