@import "variables.scss";
@import "simple-grid.scss";

body, html {

}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

p {
  margin: $space-s 0;
}

.slantnew {
  position: relative;
  margin-top: -1px; // rendering bug
  margin-bottom: -1px; // rendering bug
  svg {
    display: block;
    width: 100%;
    height: 6.4vw;
    #pid-p1 { fill: $color-p1; }
    #pid-p2 { fill: $color-p2; }
    #pid-p3 { fill: $color-p3; }
    #pid-p4 { fill: $color-p4; }
    #pid-s1 { fill: $color-s1; }
    #pid-s2 { fill: $color-s2; }
  }

}

.p1p2 {
  border-top: 3vw solid $color-p1;
  border-left: 50vw solid $color-p1;
  border-bottom: 3vw solid $color-p2;
  border-right: 50vw solid $color-p2;
}
.p2p3 {
  border-top: 3vw solid $color-p2;
  border-left: 50vw solid $color-p2;
  border-bottom: 3vw solid $color-p3;
  border-right: 50vw solid $color-p3;
}
.p3s1 {
  border-top: 3vw solid $color-p3;
  border-left: 50vw solid $color-p3;
  border-bottom: 3vw solid $color-s1;
  border-right: 50vw solid $color-s1;
}
.s1p4 {
  border-top: 3vw solid $color-s1;
  border-left: 50vw solid $color-s1;
  border-bottom: 3vw solid $color-p4;
  border-right: 50vw solid $color-p4;
}
.p4s2 {
  border-top: 3vw solid $color-p4;
  border-left: 50vw solid $color-p4;
  border-bottom: 3vw solid $color-s2;
  border-right: 50vw solid $color-s2;
}

.slanted-divider {
  position: relative;
  overflow: hidden;
  height: 170px;
  width: 100%;
  z-index: 0;
  @media only screen and (min-width: $breakpoint-med) {
    height: 260px;
  }
  .slanted-thing {
    @extend .rotated;
    bottom: -54%;
    left: -50%;
    width: 200%;
    height: 100%;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    position: absolute;

  }
}

.contact {
  position: fixed;
  right: $space-l;
  top: $space-l;
  z-index: 999;
  a {
    display: inline-block;
    &~a {
      margin-left: $space-m;
    }
  }
  img {
    width: 32px;
    display: inline-block;
    float: none;
  }
}

.header {
  text-align: center;
  .logo {
    position: relative;
    margin-top: 46px;
    width: 100%;
    @media screen and (min-width: 900px) {
      width: 700px;
    }
  }
  h1 {
    position: relative;
    color: $color-t;
  }
}
section {
  padding: 70px 0 86px;
}

a.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: $space-xs $space-m;
  text-decoration: none;

  &~.btn {
    margin-left: $space-s;
  }
  &.btn-game {
    background-color: $color-s2;
    color: $color-ti;
    &:hover {
      background-color: $color-p3;
    }
  }
  &.btn-chowdren {
    background-color: $color-s1;
    color: $color-t;
    &:hover {
      color: $color-ti;
      background-color: $color-s2;
    }
  }
}

a {
  position: relative;
  &.tile {
    display: block;
    overflow: auto;
  }
  img {
    display: block;
    float: left;
  }
}

.game {
  @extend .spacer-bottom-l;
  position: relative;
  h3, p {
    text-align: center;
  }
  &.col-6 {
    h3 {
      font-size: $font-size-xl;
      line-height: 1em;
      text-shadow: 0px 1px 1px rgba(4, 4, 4, 0.2);
    }
  }
  img {
    width: 100%;
  }
  .console-logos {
    width: 100%;
    margin-top: $space-s;
    text-align: center;
    opacity: .7;
    &:before {
      content: "Ported to: ";
      margin-right: $space-s;
      font-size: 16px;
      color: $color-ti;
    }
    img {
      height: 13px;
      width: auto;
      vertical-align: middle;
      &~img {
        margin-left: $space-s;
      }
    }
  }
  a {
    &.tile {
      &:hover {
        &:before {
          position: absolute;
          display: flex;
          width: 100%;
          height: 100%;
          content: "Go to website »";
          background-color: $color-p1;
          color: $color-t;
          justify-content: center;
          align-items: center;
        }
      }
    }
    img {
      display: block;
      float: left;
    }
  }
}


.partner {
  height: 130px;
  text-align: center;
  @media only screen and (min-width: $breakpoint-small) {
    height: 170px;
  }
  @media only screen and (min-width: $breakpoint-med) {
    height: 200px;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    img {
      position: absolute;
      max-width: 90%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
}

.footer {
  padding-bottom: 160px;
  p, a {
    font-size: $font-size-m;
  }
}
