@import "variables.scss";
@import "simple-grid.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: $color-p1;
}

p {
  margin: $space-s 0;
}

.slanted-divider {
  position: relative;
  overflow: hidden;
  height: 170px;
  width: 100%;
  z-index: 0;
  @media only screen and (min-width: $breakpoint-med) {
    height: 260px;
  }
  .slanted-thing {
    @extend .rotated;
    top: 160px;
    left: -20px;
    width: 110%;
    height: 100%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    position: absolute;
    @media only screen and (min-width: $breakpoint-med) {
      top: 250px;
    }
  }
}

.contact {
  position: fixed;
  right: $space-l;
  top: $space-l;
  z-index: 999;
  a {
    display: inline-block;
    &~a {
      margin-left: $space-m;
    }
  }
  img {
    width: 32px;
    display: inline-block;
    float: none;
  }
}

.header {
  text-align: center;
  .logo {
    position: relative;
    width: 100%;
    margin-top: 110px;
    @media screen and (min-width: 900px) {
      width: 500px;
    }
  }
  h1 {
    position: relative;
    color: $color-t;
  }
}

a.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: $space-s $space-m;
  text-decoration: none;

  &~.btn {
    margin-left: $space-s;
  }
  &.btn-game {
    background-color: $color-s2;
    color: $color-ti;
    &:hover {
      background-color: $color-p3;
    }
  }
  &.btn-chowdren {
    background-color: $color-s1;
    color: $color-t;
    &:hover {
      color: $color-ti;
      background-color: $color-s2;
    }
  }
}

a {
  position: relative;
  &.tile {
    display: block;
    overflow: auto;
  }
  img {
    display: block;
    float: left;
  }
}

.game {
  @extend .spacer-bottom-l;
  position: relative;
  h3, p {
    text-align: center;
  }
  &.col-6 {
    h3 {
      font-size: $font-size-xl;
      line-height: 1em;
      text-shadow: 0px 1px 1px rgba(4, 4, 4, 0.2);
    }
  }
  img {
    width: 100%;
  }
  .console-logos {
    width: 100%;
    margin-top: $space-s;
    text-align: center;
    opacity: .7;
    img {
      height: 13px;
      width: auto;
      &~img {
        margin-left: $space-s;
      }
    }
  }
  a {
    &.tile {
      &:hover {
        &:before {
          position: absolute;
          display: flex;
          width: 100%;
          height: 100%;
          content: "Go to website »";
          background-color: $color-p4;
          color: $color-ti;
          justify-content: center;
          align-items: center;
        }
      }
    }
    img {
      display: block;
      float: left;
    }
  }
}


.partner {
  height: 130px;
  text-align: center;
  @media only screen and (min-width: $breakpoint-small) {
    height: 170px;
  }
  @media only screen and (min-width: $breakpoint-med) {
    height: 200px;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    img {
      position: absolute;
      max-width: 90%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
}

.footer {
  padding-bottom: 160px;
}
