


$font-header: 'Kanit', sans-serif;
$font-content: 'Open Sans', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

$width: 96%;
$gutter: 4%;
$breakpoint-small: 600px; // 540px
$breakpoint-med: 900px; // 720px
$breakpoint-large: 2000px; // 960px
// $breakpoint-small: 33.75em; // 540px
// $breakpoint-med: 45em; // 720px
// $breakpoint-large: 60em; // 960px



$color-p1: #B31535;
$color-p2: #FFF652;
$color-p3: #FF375F;
$color-s1: #1FC0FF;
$color-s2: #1E89B3;
$color-t: #23221F;
$color-ti: #f4f4f4;

.rotated {
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}


$color-p1: #f4f4f4;
$color-p2: #83B76C;
$color-p3: #0E4749;
$color-s1: #002626;
$color-s2: #E55812;
$color-t: #404040;
$color-ti: #ffffffed;


// BLACK-AND-WHITE
$color-p1: #ececec; // body
$color-p2: #262626;
$color-p3: #ececec;
$color-s1: #262626;
$color-s2: #ececec;
$color-t: #404040;  // text
$color-ti: #ececec; // text inverse
.p1 { background-color: $color-p1; h2, h3, p, a, li { color: $color-t; } }
.p2 { background-color: $color-p2; h2, h3, p, a, li { color: $color-ti; } }
.p3 { background-color: $color-p3; h2, h3, p, a, li { color: $color-t; } }
.s1 { background-color: $color-s1; h2, h3, p, a, li { color: $color-ti; } }
.s2 { background-color: $color-s2; h2, h3, p, a, li { color: $color-t; } }

// MIGHTY GOOSE
$color-p1: #ffffff; // body
$color-p2: #ffac00;
$color-p3: #ad3118;
$color-s1: #ffffff;
$color-s2: #2b2323;
$color-t: rgba(64,64,64,0.95);  // text
$color-ti: rgba(236,236,236,0.95); // text inverse
.p1 { background-color: $color-p1; h2, h3, p, a, li { color: $color-t; } }
.p2 { background-color: $color-p2; h2, h3, p, a, li { color: $color-t; } }
.p3 { background-color: $color-p3; h2, h3, p, a, li { color: $color-ti; } }
.s1 { background-color: $color-s1; h2, h3, p, a, li { color: $color-t; } }
.s2 { background-color: $color-s2; h2, h3, p, a, li { color: $color-ti; } }







































/**/
