$font-header: 'Kanit', sans-serif;
$font-content: 'Barlow Semi Condensed', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

$font-size-default: 1.125rem;
$font-size-m: 1.475rem;
$font-size-l: 2rem;
$font-size-xl: 2.6rem;

$width: 96%;
$gutter: 4%;
$breakpoint-small: 600px; // 540px
$breakpoint-med: 900px; // 720px
$breakpoint-large: 2000px; // 960px

$space-xs: .2em;
$space-s: .4em;
$space-m: $space-s * 2;
$space-l: $space-s * 4;
$space-xl: $space-s * 6;

.rotated {
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.rotated-inverse {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}



// BLACK-AND-WHITE
// $color-p1: #ececec; // body
// $color-p2: #262626;
// $color-p3: #ececec;
// $color-s1: #b8b8b9;
// $color-s2: #ececec;
// $color-t: #404040;  // text
// $color-ti: #ececec; // text inverse
// .p1 { background-color: $color-p1; h2, h3, p, a, li { color: $color-t; } }
// .p2 { background-color: $color-p2; h2, h3, p, a, li { color: $color-ti; } }
// .p3 { background-color: $color-p3; h2, h3, p, a, li { color: $color-t; } }
// .s1 { background-color: $color-s1; h2, h3, p, a, li { color: $color-t; } }
// .s2 { background-color: $color-s2; h2, h3, p, a, li { color: $color-t; } }

// MP2
$color-p1: #e6d717; // body
$color-p2: #e61753;
$color-p3: #00b0e6;
$color-p4: #8c8c8c;
$color-s1: #ffffff;
$color-s2: #2b2323;
$color-t: rgba(21,21,21,0.95);  // text
$color-ti: rgba(255, 255, 255, 1); // text inverse
.p1 { background-color: $color-p1; h2, h3, p, a, li { color: $color-t; } }
.p2 { background-color: $color-p2; h2, h3, p, a, li { color: $color-ti; } }
.p3 { background-color: $color-p3; h2, h3, p, a, li { color: $color-ti; } }
.p4 { background-color: $color-p4; h2, h3, p, a, li { color: $color-ti; } }
.s1 { background-color: $color-s1; h2, h3, p, a, li { color: $color-t; } }
.s2 { background-color: $color-s2; h2, h3, p, a, li { color: $color-ti; } }







































/**/
